.page-container .under-navigation {
  .renew {
    margin: -8px;
    color: white;
    float: right;
  }

  .avatar-container {
    display: flex;

    span {
      align-self: center;
    }
  }

  .card {
    min-width: 400px;

    img {
      width: 50px;
    }
  }

  .pagination {
    margin-top: 0px;
    float: right
  }
}