@import '../../../../styles/material-kit';

.card {
  &.card-signup {
    margin: 160px 0 40px;
  }
}

.wrapper {
  .header-filter {
    min-height: 100vh;
    background-image: url('./polina.png');
    background-size: cover;
    background-position: top center;
  }
}

.icon-vk{
  font-size: 30px;
}

.social-line {
  .btn-just-icon {
    padding: 0px;
  }
}

.access-token-info {
  cursor: pointer;
  color: #9c27b0;
  padding-left: 4px;
  position: relative;
  font-size: 20px;
  top: 5px;
}