//@import 'material-dashboard';
@import 'material-dashboard/variables';
@import 'material-dashboard/shadows';
@import './components/ajax-in-progress';
@import './components/pagination';
@import './components/textfields';
@import './components/modal';
@import './components/icons';
@import './components/nav-bar';
@import './components/app-bar';

.page-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.under-navigation {
  margin-top: 68px;
  height: calc(100% - 68px);
  overflow: auto;
  padding-top: 22px;
}

.center-button-container {
  text-align: center;
  padding: 4px;
}

.equal {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
}

.row.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.mdl-textfield__label {
  margin-bottom: 0px;
}

.tinker-textfield-icon {
  position: absolute;
  bottom: 20px;
}

.tinker-textfield-container {
  padding-left: 34px;
}

.avatar-container {
  display: inline;
  padding: 0 10px 0 0;
  span {
    cursor: default;
  }
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*bootstrap navigation*/
.nav-header {
  margin-top: 100px;
}
.nav-header.navbar.navbar-default.navbar-inverse {
  background-color: #9c27b0;
}

.navbar {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0;
}

.site-name {
  float: right;
  display: inline;
  font-size: 16px;
  color: white;
  line-height: 18px;
  width: 70px;
  text-align: left;
}

.title-container.navbar-brand {
  padding: 0;
  cursor: default;
}

/*picture-card*/
.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  min-height: 200px;
  max-height: 400px;

  &.selected {
    box-shadow: 0 1px 38px -12px #7b1fa2, 0 2px 25px 0px #7b1fa2, 0 3px 10px -5px #7b1fa2;
  }

  .card-media-container {
    .card-media {
      padding: 0px;
      //height: calc(100% - 52px);
      cursor: pointer;
      align-items: center;
      display: flex;

      .card-image {
        height: 100%;
        width: 100%;
      }
    }
  }

  .card-info {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;

    .avatar-container {
      .avatar-img {
        border: 1px solid white;
      }
    }
  }

  .card-menu-actions {
    position: absolute;
    right: 18px;
    top: 16px;
    display: flex;
    flex-direction: column;

    button {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2);
      font-size: 14px;
    }
  }

  .card-album-title {
    line-height: 18px;
    overflow: hidden;
    padding: 16px;

    font-size: 14px;
    width: 100%;
    position: absolute;
    bottom: 52px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 500;
  }

  .card-actions {
    width: 100%;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    transition: height 0.3s ease-in-out;

    button.card-more {
      float: right;
    }

    .card-footer-link {
      transition: opacity 0.3s ease-in-out;
    }

    .card-information {
      color: rgba(0, 0, 0, .54);
      font-size: 14px;
      line-height: 18px;
      border-top: 1px solid rgba(0, 0, 0, .1);
      margin-top: 10px;
      padding: 20px;
      transition: opacity 0.6s ease-in
    }

    &.small {

      .card-footer-link {
        visibility: hidden;
        opacity: 0;
      }

      .card-information {
        opacity: 0;
        overflow: hidden;
      }
    }

    &.big {
      height: 100%;

      .card-footer-link {
        visibility: visible;
        opacity: 1;
      }

      .card-information {
        opacity: 1;
        height: calc(100% - 46px);
        overflow: auto;
      }
    }
  }

  .card-menu {
    .mdl-button {
      background-color: rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: rgba(158, 158, 158, .2);
      }
    }

    .card-menu-icon {
      color: #ffffff
    }

    .card-link {
      display: block;
    }

    .sold-out {
      display: block;
      color: white;
      font-size: 32px;
    }
  }

  .card-more, .card-footer-link {
    float: right;

    &:after {
      clear: both;
    }
  }

  .card-validation {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 32px;
    line-height: 32px;
    &.done {
      color: #76FF03;
    }
  }
}

/*count badge*/
.count-badge {
  display: initial;
}

/*dropdown*/
.dropdown {
  & > button.btn.btn-default {
    &, &:hover, &:focus {
      background-color: #ffffff;
      color: inherit;
    }
  }
  &.open > .dropdown-toggle.btn.btn-default {
    color: inherit;
  }
}

/*checkboxes*/
.mdl-checkbox.is-checked:not(.is-disabled) {
  span.mdl-checkbox__tick-outline {
    background-color: #9c27b0;
  }

  .mdl-checkbox__box-outline {
    border-color: #9c27b0;
  }
}

.checkbox-column {
  width: 40px;
}

.btn.accept-selected {
  float: right;
  margin: -5px;
  &:not([disabled]) {
    color: #9c27b0;
  }
}

.accept-selected-container {
  display: inline;

  > button {
    float: right;
    margin: -8px;
  }
}

/*modal select*/
.modal-select-dialog {
  @media (min-width: 768px) {
    width: 600px;
    height: auto;
    max-height: calc(100% - 200px);
    margin: 0 auto;
  }

  .modal-content {
    padding: 10px;
  }

  ul {
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
  }
}

.modal-select-search {
  padding-left: 10px;
}

.modal-select-item {
  font-size: 13px;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 2px;
  transition: all 150ms linear;
  display: block;
  color: #333;
  white-space: nowrap;
  cursor: pointer;

  &:hover, &.selected {
    background-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
  }
}

.comment {
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  transition: all 150ms linear;
  display: block;
  color: #333;
  //white-space: nowrap;

  div.avatar-container {
    float: left;
  }

  .author {
    font-weight: bold;
  }

  .date {
    padding-left: 4px;
    color: #939393;
  }

  .comment-highlight {
    color: white;
    background-color: #9c27b0;
  }
}

.albums-dialog {
  min-width: 400px;

  .modal-header {
    padding: 4px;
  }

  .dialog-content {
    max-height: 500px;
  }

  .album-container {
    display: flex;

    .album-title {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .album-size {
      color: #939393;
    }
  }
}

.list {
  .cover {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 90%
  }
  .busy {
    top: 50%;
    left: 50%;
    position: absolute;
  }

  .list-busy {
    opacity: 0.5;
  }
}

.highlight-found-text {
  color: white;
  background-color: #9c27b0;
}